<div id="title">
  <h1>danielcraigslist</h1>
</div>

<div class="container">
  <h2>categories</h2>

  <ul id="main-categories">
    <% @categories.map do |category| %>
    <li><a href='/<%= category.id %>'><%= category.name %></a></li>
    <% end %>
  </ul>
 
  
</div>
