<div id="title">
  <h1>danielcraigslist</h1>
</div>

<div class="container">
  <h2>categories</h2>

  <ul id="main-categories">
    <% @populate.map do |name| %>
    <li><%= name %></li>
    <% end %>
  </ul>
 
  
</div>
