<div id="title">
  <h1>danielcraigslist</h1>
</div>

<div class="container">
  <h2><%= @post.title %></h2><br>

  <p>Price: $<%=@post.price%></p>
  <p>Description: <%=@post.description%></p>
  <p>Email: <%=@post.email%></p>
 
</div>
